<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <style>
    * {
      font-family: Helvetica, Arial, sans-serif;
    }
    div {
      display: flex;
      align-items: center;
      padding: 1em;
      font-size: 1.2em;
    }
    div a {
      padding-left: 0.5em;
    }
  </style>
</head>
<body>
  <h1>hello world</h1>
  <h1>{{username}}</h1>
  {{!-- <img src="/images/{{user.username}}_lg.jpg" alt="{{user.username}}"> --}}
  <img src="/images/{{username}}_lg.jpg" alt="{{username}}">
</body>
</html>